/Csépány_O09.aux
/Csépány_O09.bbl
/Csépány_O09.blg
/Csépány_O09.dvi
/Csépány_O09.log
/Csépány_O09.ps
/O09.aux
/O09.bbl
/O09.blg
/O09.dvi
/O09.log
/O09.ps
/asp2010.bst
/asp2010.sty
/index.html
/upload.log
/x.log
/Csepany_O09.aux
/Csepany_O09.bbl
/Csepany_O09.blg
