/Durand_O13.aux
/Durand_O13.bbl
/Durand_O13.blg
/Durand_O13.dvi
/Durand_O13.log
/Durand_O13.pdf
/Durand_O13.ps
/Durand_O13.tex~
/O013_f2.png
/O013_f3.png
/asp2010.bst
/asp2010.sty
/index.html
/upload.log
