/Costa_O08.aux
/Costa_O08.bbl
/Costa_O08.blg
/Costa_O08.dvi
/Costa_O08.log
/Costa_O08.pdf
/Costa_O08.ps
/Costa_O08.tex~
/O08.bib~
/O08_f1.jpg
/O08_f2.jpg
/O08_f3.jpg
/O08_f4.jpg
/O08_f5.jpg
/Oo8_f1.jpg
/Oo8_f2.jpg
/Oo8_f3.jpg
/Oo8_f4.jpg
/Oo8_f5.jpg
/asp2010.bst
/asp2010.sty
/index.html
