/Viallefond_P52.aux
/Viallefond_P52.bbl
/Viallefond_P52.blg
/Viallefond_P52.dvi
/Viallefond_P52.log
/Viallefond_P52.ps
/asp2010.bst
/asp2010.sty
/index.html
/upload.log
/P52.eps
/new.log
/new.tex
/original.ps
/*.tex
